/* Carousel */
.carousel-inner {
  max-height: 50vh;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

.carousel-item {
  height: 50vh;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* find recipes form */
.find-recipes-form-container {
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9rem 2rem 3rem;
  gap: 10px;
  margin-top: 2rem;
}

.recipe-form-header {
  font-family: "Pacifico", cursive;
}

.find-recipes-form {
  width: 40%;
}

/* recipe cards */
.found-recipes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 3.5rem;
}

/* Pagination */
.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4rem;
}

.pagination-container:first-of-type {
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .find-recipes-form-container {
    margin-top: 1rem;
  }

  .find-recipes-form {
    width: 100%;
  }

  .alert-success {
    width: 80%;
    left: 10%;
  }
}
