.header {
  background-color: #fc6161;
  padding: 40px 0;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.header h1 {
  font-size: 48px;
  margin: 0;
  letter-spacing: 2px;
  font-family: "Pacifico", cursive;
}

.header p {
  font-size: 24px;
  margin: 10px 0 0;
}

.filter-field {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
  width: 100%;
  height: 40px;
}

.filter-field label {
  width: 20%;
  margin: 2% 0 0 0;
  text-align: right;
}

.filter-field select {
  min-width: 20%;
  max-width: 25%;
  margin: 2% 10% 0 0;
  font-size: 12px;
}

.saved-recipes-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 5rem;
}

.card {
  position: relative;
}

.dropup {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

@media only screen and (max-width: 800px) {
  .alert-success {
    width: 80%;
    left: 10%;
  }

  .header h1 {
    font-size: 2.5rem;
  }

  .header p {
    font-size: 1rem;
  }

  .filter-field {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .filter-field label {
    width: 15%;
    margin: 0;
  }

  .filter-field select {
    width: 40%;
    margin: 0;
    font-size: 12px;
  }
}
